# Configuración de Base de Datos
# Conexión a la base de datos (Driver aiomysql)
DATABASE_URL=mysql+aiomysql://root:tu_password_aqui@localhost:3307/DBChatAsistente

# Clave secreta JWT
SECRET_KEY=cambiar_en_produccion_por_una_clave_segura

# Configuración SMTP (Para correos)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USUARIO=tu_correo@ethereal.email
SMTP_PASSWORD=tu_password
SMTP_REMITENTE=tu_correo@ethereal.email
